
:root {
  --bars-color: #D9A679;
  --web-page-width: 1236px;
  --mob820-page-width: 750px;
  --mob460-page-width: 400px;
}
body {
  background-color:white;
}

.container {
  width: var(--web-page-width);
  margin: 0px auto;
  background-color: white;
  display: grid;
  row-gap: .3rem;
  grid-template-rows: 80px 
                      40px 
                      240px 
                      100px 
                      240px 
                      80px
                      80px;
  grid-template-columns: 500px 500px 118px auto;
  grid-template-areas: "search search places signup"
                       "main_message main_message main_message main_message"
                       "cards_row_one cards_row_one cards_row_one cards_row_one"
                       "desc_row_one desc_row_one desc_row_one desc_row_one"
                       "cards_row_two cards_row_two cards_row_two cards_row_two"
                       "desc_row_two desc_row_two desc_row_two desc_row_two"
                       "footer footer footer footer";

}
.search {
  grid-area: search;
  
}

.search {
  display: grid;
  justify-content: left;
  align-items: center;
  background-color: var(--bars-color);
  font-size: 1.3rem;
  border-radius: 0 0 0 18px;
  
  
}
.search_container {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: left;
  margin-left: 35px;
  gap: 1.7rem;

}
.search_input {
  padding: .3rem .4rem;
  font-size: 1.3rem;
  width: 750px;
  height: 43px;
  border: none;
  border-radius: 5px;
 /* border-bottom: .1rem solid #12376e; */

}
.search_glass {
  background-color: transparent;
  cursor: pointer;
  z-index: 9;
  margin-left: -150px;
}
.places {
  grid-area: places;
  
}
.places {
  display: grid;
  justify-content: left;
  align-items: center;
  background-color: var(--bars-color);
}
s
.signup {
  grid-area: signup;
}

.signup{
  display: grid;
  justify-content: left;
  align-items: center;
  background-color: var(--bars-color);
  border-radius: 0 0 18px 0;
}


.main_message {
  grid-area: main_message;
}
.main_message {
  display: grid;
  font-size: 1.7rem;
  background-color: white;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
}
.desc_main_message {
  margin-left: 20px;
}
.cards_row_one {
  grid-area: cards_row_one;
}

.cards_row_one {
  display: grid;
  justify-content: left;
  align-items: center;
}

.image_card {
  border-radius: 14px;
  width: 297px;
  height: 236px;
}
.first_row_cards {
  display:inline-flex;
  align-items: center;
  justify-content: left;
  gap: 1.7rem;
}

.desc_row_one {
  grid-area: desc_row_one;
}

.desc_row_one {
  display: grid;
  background-color:white;
  justify-content: left;
  align-items: top;
}

.first_row_cards_description {
  display: flex;
  

  
}
.description_one {
  display:flex;
  width: 310px;
  flex-direction: column;
  row-gap: 0.7rem;
  margin-left: .5rem;
  column-gap: 2rem;
  
  
}
.cards_row_two {
  grid-area: cards_row_two;
}

.cards_row_two {
  display: grid;
  background-color:cadetblue;
  justify-content: center;
  align-items: top;
}

.desc_row_two {
  grid-area: desc_row_two;
}

.desc_row_two {
  display: grid;
  background-color:coral;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-area: footer;
}

.footer {
  display: grid;
  background-color:var(--bars-color);
  border-radius: 18px 18px 0 0;
  justify-content: center;
  align-items: center;
}

.menu-options {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;

      
  
}


@media(max-width: 820px ){

  .container {
    width: var(--mob820-page-width);
    margin: 0px auto;
    background-color: white;
    display: grid;
    row-gap: 1rem;
    grid-template-rows: 80px 
                        50px 
                        150px 
                        50px 
                        150px 
                        50px
                        80px;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "header header "
                         "main_message main_message "
                         "cards_row_one cards_row_one"
                         "desc_row_one desc_row_one"
                         "cards_row_two cards_row_two"
                         "desc_row_two desc_row_two"
                         "footer footer";
  
  }
  .header {
    grid-area: header;
  }
  .header {
    display: grid;
    background-color: var(--bars-color);
    border-radius: 0 0 18px 18px;
    justify-content: center;
    align-items: center;
  }
  .main_message {
    grid-area: main_message;
  }
  .main_message {
    display: grid;
    background-color: brown;
    justify-content: center;
    align-items: center;
  }
  
  .cards_row_one {
    grid-area: cards_row_one;
  }
  
  .cards_row_one {
    display: grid;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
  }
  
  .desc_row_one {
    grid-area: desc_row_one;
  }
  
  .desc_row_one {
    display: grid;
    background-color:chartreuse;
    justify-content: center;
    align-items: center;
  }
  
  .cards_row_two {
    grid-area: cards_row_two;
  }
  
  .cards_row_two {
    display: grid;
    background-color:cadetblue;
    justify-content: center;
    align-items: center;
  }
  
  .desc_row_two {
    grid-area: desc_row_two;
  }
  
  .desc_row_two {
    display: grid;
    background-color:coral;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    grid-area: footer;
  }
  
  .footer {
    display: grid;
    background-color:var(--bars-color);
    border-radius: 18px 18px 0 0;
    justify-content: center;
    align-items: center;
  }

}

@media(max-width: 460px ){

  .container {
    width: var(--mob360-page-width);
    margin: 0px auto;
    background-color: white;
    display: grid;
    row-gap: 1rem;
    grid-template-rows: 80px 
                        50px 
                        150px 
                        50px 
                        150px 
                        50px
                        80px;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "header header "
                         "main_message main_message "
                         "cards_row_one cards_row_one"
                         "desc_row_one desc_row_one"
                         "cards_row_two cards_row_two"
                         "desc_row_two desc_row_two"
                         "footer footer";
  
  }
  .header {
    grid-area: header;
  }
  .header {
    display: grid;
    background-color: var(--bars-color);
    border-radius: 0 0 18px 18px;
    justify-content: center;
    align-items: center;
  }
  .main_message {
    grid-area: main_message;
  }
  .main_message {
    display: grid;
    background-color: brown;
    justify-content: center;
    align-items: center;
  }
  
  .cards_row_one {
    grid-area: cards_row_one;
  }
  
  .cards_row_one {
    display: grid;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
  }
  
  .desc_row_one {
    grid-area: desc_row_one;
  }
  
  .desc_row_one {
    display: grid;
    background-color:chartreuse;
    justify-content: center;
    align-items: center;
  }
  
  .cards_row_two {
    grid-area: cards_row_two;
  }
  
  .cards_row_two {
    display: grid;
    background-color:cadetblue;
    justify-content: center;
    align-items: center;
  }
  
  .desc_row_two {
    grid-area: desc_row_two;
  }
  
  .desc_row_two {
    display: grid;
    background-color:coral;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    grid-area: footer;
  }
  
  .footer {
    display: grid;
    background-color:var(--bars-color);
    border-radius: 18px 18px 0 0;
    justify-content: center;
    align-items: center;
  }

}

